<div class="form-row">
  <div class="col-xs-2">
    <%= label_tag  "FROM" %>
    <%= date_field_tag :start_date , params[:start_date], class: "form-control" %>
  </div>
  <div class="col-xs-2">
    <%= label_tag  "TO" %>
    <%= date_field_tag :end_date , params[:end_date], class: "form-control" %>
  </div>
</div>
