<%= form_with(model: transmittal_list, local: true) do |form| %>
  <% if transmittal_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transmittal_list.errors.count, "error") %> prohibited this transmittal_list from being saved:</h2>

      <ul>
      <% transmittal_list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
