<div class="form-row">
  <div class="form-group col-md-3">
    <%= label_tag  "FROM" %>
    <%= date_field_tag :from_date , params[:from_date], class: "form-control" %>
  </div>
  <div class="form-group col-md-3">
    <%= label_tag  "TO" %>
    <%= date_field_tag :to_date , params[:to_date], class: "form-control" %>
  </div>
</div>
