<h1>Editing Prod Accounting Entry</h1>

<%= render 'form', prod_accounting_entry: @prod_accounting_entry %>

<%= link_to 'Show', @prod_accounting_entry %> |
<%= link_to 'Back', prod_accounting_entries_path %>
